*{
    /* font-family: 'Euclid Circular A'; */
}
nav{
    font-size: 12px;
}
.nav-item{
    color: black !important;
}
.primary-color{
    color: #009444;
}
.primary-bg{
    background-color: #009444;
}
.login-btn{
    background-color: transparent;
    border: 1px solid #009444;
    padding: 0px 20px;
    border-radius: 5px;
    
}
.login-btn a{
    color: #009444 !important;
}
.register-btn{
    background-color: #009444;
    border: 1px solid #fff;
    padding: 0px 20px;
    border-radius: 5px;
    
}
.register-btn a{
    color: #fff !important;
}
.dropdown-item{
    font-size: 12px;
    color: #009444 !important;
}
.section1{
    background-image: url('../images/low-angle-shot-facade-white-modern-building-blue-clear-sky-removebg-preview\ 1.png');
    background-color: #ECFFF55E;
    background-size: 750px;
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}
.get-started{
    width: 30%;
    background-color: #009444;
}
.grid-buttons input{
    border:1px solid #D6D6D6; border-right: none;padding: 10px;
}
.grid-buttons button{
    border:1px solid #D6D6D6; border-left: none;
    padding-right: 20px;
    color: #D6D6D6;
}
.grid-buttons button:hover{
    background-color: transparent;
    border: 1px solid #D6D6D6;
    border-left: none;
    color: #D6D6D6;
}
.ffk{
    width: 70%;margin: auto;
}
.kkg{
    color: #4B4B4B;    
    padding-left: 10rem;
    
}
.search-btn{
    background-color: #009444;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
}

.three-box{
    padding: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.three_box-1{
    font-size: 12px !important;
    padding: 20px;
    background-color: #009444;
    color: #fff;
    border-radius: 10px;;
    width: 30%;

}

.three_box-2{
    font-size: 12px !important;
    padding: 20px;
    background-color: #F7F7F7;
    /* color: #009444; */
    border-radius: 10px;;
    width: 30%;


}
.three_box-3{
    font-size: 12px !important;
    padding: 20px;
    background-color: #F7F7F7;
    /* color: #fff; */
    border-radius: 10px;;
    width: 30%;

}

.three_box-1 .number1{
    font-size: 14px;
    padding: 10px;
    border-radius: 50px;
    background-color: #fff;
    color: black;
    font-weight: 600;
    
}
.three_box-2 .number2{
    font-size: 14px;
    padding: 10px;
    border-radius: 50px;
    background-color: #009444;
    color: #fff;
    font-weight: 600;
    
}
.three_box-3 .number3{
    font-size: 14px;
    padding: 10px;
    border-radius: 50px;
    background-color: #009444;
    color: #fff;
    font-weight: 600;
    
}
/* responsiveness */
@media screen and (max-width: 768px) {
    .change-direction{
        flex-direction: column;
    }
    .register-btn{
        width: 30%;
        text-align: center;
    }
    .login-btn{
        width: 30%;
        text-align: center;
    }
    .three_box-1{
        width: 100%;
    }
    .three_box-2{
        width: 100%;
    }
    .three_box-3{
        width: 100%;
    }
    .ffk{
        width: 100%;
    }
    .kkg{
        padding: 20px;
    }
    .d-flexx{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 1200px) {
    
    .get-started{
        width: 50%;
    }
}