* {
  /* font-family: 'Euclid Circular A'; */
}
nav {
  font-size: 12px;
}
.nav-item {
  color: black !important;
}
.primary-color {
  color: #009444;
  text-decoration: none !important;
}
.primary-bg {
  background-color: #009444;
}
.pl-2 {
  padding-left: 20px;
}
.login-btn {
  background-color: transparent;
  border: 1px solid #009444;
  padding: 0px 20px;
  border-radius: 5px;
}
.login-btn a {
  color: #009444 !important;
}
.register-btn {
  background-color: #009444;
  border: 1px solid #fff;
  padding: 0px 20px;
  border-radius: 5px;
}
.register-btn a {
  color: #fff !important;
}
.dropdown-item {
  font-size: 12px;
  color: #009444 !important;
}
.section1 {
  background-image: url("../images/low-angle-shot-facade-white-modern-building-blue-clear-sky-removebg-preview\ 1.png");
  background-color: #ecfff55e;
  background-size: 750px;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}
.get-started {
  width: 30%;
  background-color: #009444;
}
.grid-buttons input {
  border: 1px solid #d6d6d6;
  border-right: none;
  padding: 10px;
}
.grid-buttons button {
  border: 1px solid #d6d6d6;
  border-left: none;
  padding-right: 20px;
  color: #d6d6d6;
}
.grid-buttons button:hover {
  background-color: transparent;
  border: 1px solid #d6d6d6;
  border-left: none;
  color: #d6d6d6;
}
.ffk {
  width: 70%;
  margin: auto;
}
.kkg {
  color: #4b4b4b;
  padding-left: 10rem;
}
.search-btn {
  background-color: #009444;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}

.three-box {
  padding: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.three_box-1 {
  font-size: 12px !important;
  padding: 20px;
  background-color: #009444;
  color: #fff;
  border-radius: 10px;
  width: 30%;
}

.three_box-2 {
  font-size: 12px !important;
  padding: 20px;
  background-color: #f7f7f7;
  /* color: #009444; */
  border-radius: 10px;
  width: 30%;
}
.three_box-3 {
  font-size: 12px !important;
  padding: 20px;
  background-color: #f7f7f7;
  /* color: #fff; */
  border-radius: 10px;
  width: 30%;
}

.three_box-1 .number1 {
  font-size: 14px;
  padding: 10px;
  border-radius: 50px;
  background-color: #fff;
  color: black;
  font-weight: 600;
}
.three_box-2 .number2 {
  font-size: 14px;
  padding: 10px;
  border-radius: 50px;
  background-color: #009444;
  color: #fff;
  font-weight: 600;
}
.three_box-3 .number3 {
  font-size: 14px;
  padding: 10px;
  border-radius: 50px;
  background-color: #009444;
  color: #fff;
  font-weight: 600;
}
/* #about-us img {
    box-shadow: 0px 0px 0px 20px #CCEADA;
  } */
.slider .card {
  width: 18rem;
  margin-left: 15px;
}
.rent-now {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #009444;
  color: #fff;
  border-radius: 5px;
}
.rent-now:hover{
    background-color: #fff;
    color: #009444;
}
.contact-btn {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #fff;
  color: #009444;
  border-radius: 5px;
  margin-left: 10px;
}

.contact-btn:hover{
    background-color: #009444;
    color: #fff;
}
.find-out-more{
    padding: 5px 15px;
    color: #009444;
    background-color: #F0FFF7;
    border-radius: 20px;
    text-decoration: none;
}
.small-small{
    padding-left: 50px;font-size: 18px;font-weight: 700;
}

#list-style ul {
  list-style: none; /* Remove default bullets */
  font-size: 14px;
}

#list-style ul li::before {
  content: "\2022";
  color: #009444;
  font-weight: 800;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 20px;
}

/* responsiveness */
@media screen and (max-width: 768px) {
  .change-direction {
    flex-direction: column;
  }
  .register-btn {
    width: 30%;
    text-align: center;
  }
  .login-btn {
    width: 30%;
    text-align: center;
  }
  .three_box-1 {
    width: 100%;
  }
  .three_box-2 {
    width: 100%;
  }
  .three_box-3 {
    width: 100%;
  }
  .ffk {
    width: 100%;
  }
  .kkg {
    padding: 20px;
  }
  .d-flexx {
    flex-wrap: wrap;
  }
  .d-fff {
    flex-wrap: wrap;
  }
  #list-style #margin {
    margin-top: 0px;
  }
}
#edit-img{
    height: 300px;
    width: 300px;
}
@media screen and (max-width: 1200px) {
  .get-started {
    width: 50%;
  }
  .small-small{
    padding-left: 20px;font-size: 18px;font-weight: 700;

}
#edit-img{
    height: 300px;
    width: 500px;
}
#hide-img{
    display: none;
}
}
@media screen and (max-width: 375px) {
  #list-style #margin {
    margin-top: -45px;
  }
  .small-small{
    padding-left: 20px;font-size: 18px;font-weight: 700;

}
#edit-img{
    height: 300px;
    width: 500px;
}
#hide-img{
    display: none;
}
}
